/*Grid container for whole page
--------------------------------------------------------- */

/* base grid container taken from https://grid.layoutit.com/ */
.home-page-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20px 1fr 40px;
  gap: 0px 0px;
  grid-template-areas:
    "header"
    "main"
    "footer";
} 

/* Grid container in the first grid container for contact grid space
----------------------------------------------------------- */

/* creates the differing sections for the main body making it easier to seperate it into the 4 event categories */
.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 500px 1fr;
  gap: 0px 50px;
  grid-template-areas:
    "title title title title"
    "workshop exhibition present screening";
  grid-area: main;
}
.workshop { grid-area: workshop; }
.exhibition { grid-area: exhibition; }
.present { grid-area: present; }
.screening { grid-area: screening; }

.title { 
  grid-area: title;
  /* the ../ moves it out of the css folder and the images/ moves it into the images folder */
  background-image: url("../images/indexcover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
 }

/* Title flip card 
------------------------------------------------------------- */

/*css for title flip card
base code from https://www.w3schools.com/howto/howto_css_flip_card.asp */

/*positions flip card in class title */
.flip-card {
  width: 700px;
  height: 300px;
  margin: 100px auto;
  /*Changed position to relative to make card middle of its grid box and not permanently the center of the screen. */
  position: relative;
}

/*centers flip card contents in middle of flipcard */ 
.flip-card-contents {
  border-radius: 10px;
  background-color: #f4d856;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  /*transition based on the hover  */
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* when mouse hovers over flip card, flip it */
.flip-card:hover .flip-card-contents {
  transform: rotateY(180deg);
}

/* hides content until it is flipped */
.flip-card-title, .flip-card-info {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
} 

/*vertical align and line height from https://stackoverflow.com/questions/5703552/how-can-i-center-text-horizontally-and-vertically-inside-a-div-block */

/* centers title */
.flip-card-title {
  vertical-align: middle;
  line-height: 180px;
}

/*makes this the back of card until hovered */
.flip-card-info{
  transform: rotateY(180deg);
}


/* Cards for events
------------------------------------------------------------- */

/*Card Code - base code from  https://www.w3schools.com/howto/howto_css_cards.asp*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 8px;
  margin: 20px;
  background-color: rgba(214, 214, 214, 0.932);
}

img {
  border-radius: 5px 5px 0 0;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: scale(1.05);
  transition-property: transform;
}

/* Adds padding inside the card container */
.container {
  padding: 2px 16px;
}

/* element code blocks
------------------------------------------------------------- */

body {
  background-color: #e3e3e3;
}

section {
  text-align: center;
  position: relative;
}

h3 {
  font-family: 'Hind Guntur', sans-serif;
  font-size: 25px;
  margin-bottom: 0px;
}

h1 {
  font-family: 'Nerko One', cursive;
  font-size: 68px;
}

h2 {
  vertical-align: middle;
  font-size: 20px;
  padding: 30px;
  font-family: 'Hind Guntur', sans-serif;
}


/* CSS for mobile
------------------------------------------------------------- */

@media screen and (max-width: 860px) {
	.main {
    grid-template-columns: 100%;
    /* re-arranging the grid for mobile screens to make them sit under eachother */
    grid-template-areas:
      "title"
      "workshop"
      "exhibition"
      "present"
      "screening";
  }
}
