
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px auto auto 20px;
  gap: 0px 0px;
  grid-template-areas:
    "header"
    "contact"
    "faq"
    "footer";
}

.contact { grid-area: contact; }
.faq { grid-area: faq; }

header {
  grid-area: header;
  background: #afbcce;
  position: relative;
}

/* fixed footer base code from w3schools.com/howto/howto_css_fixed_footer.asp */
footer {
  grid-area: footer;
  background-color: #afbcce;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}


/* ul is specified as we want different margins for the header and footer*/
footer > ul {
  display: inline;
  margin-top: 0px;
  float: right;
}

/* base code for creating a nav bar from https://developer.mozilla.org/en-US/docs/Web/HTML/Element/nav */
.footerimgs {
  padding-left: 0;
  float: right;
  display: block-inline;
  list-style-type: none;
  margin: 10px 10px 0px 10px;
}

.footerimgs > img {
  width: 30px;
  height: 30px;
}

/* fixed header - inspired by the fixed footer */
header {
  background-color: #afbcce;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  /* the z-index ensures it is on top of other content on the page*/
  z-index: 2;
  padding: 0px;
}

header > img {
  margin: 0px 10px;
}

header > nav {
  display: inline;
  margin: 0px;
  float: right;
}

/* the inline property for nav and ul ensures that the navigation is on the same line as the home image/link */
header > nav > ul {
  display: inline;
  margin-bottom: 0px;
  float: right;
}

/* base code for creating a nav bar from https://developer.mozilla.org/en-US/docs/Web/HTML/Element/nav */
.navigation {
  padding-left: 0;
  float: right;
  display: block-inline;
  list-style-type: none;
  margin: 20px 150px 20px 150px;
}

/* styling for the naivation links */
a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #42b1b6;
  background-color: transparent;
}

a:active {
  color: #55415e;
  background-color: transparent;
}

/*selecting Contact & FAQ only from navigation bar */
a:nth-child(1) {
  color: #42b1b6;
}

body {
  background-color: #e3e3e3;
  margin: 20px 0;
  padding: 10px;
  height: 100%;
  background-image: url("images/contact-background.png");
  background-position: 0 0;
  
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.contact, .faq {
  background-clip: padding-box;
  background-color: lightgray;
  margin: 0px auto 60px auto;
  width: 600px;
  padding: 20px 100px;
  border-radius: 10px;
}

h3 {
  margin: 5px 0px;
}

p {
  margin-top: 0px;
}

.contact > p {
  display: inline-block;
}

/*grid container for contact to seperate into two columns*/
.contact-grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-template-areas:
    "address other";
}
.address { grid-area: address; }
.other { 
  grid-area: other; 
  margin-top: 15%;
}

