
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80px 1fr 20px;
  gap: 0px 0px;
  grid-template-areas:
    "header header"
    "donate volunteer"
    "footer footer";

  height: 100%;
  /*adding a background image - code snippets from https://www.w3schools.com/cssref/pr_background-image.asp */
  background-color: #e3e3e3;
  /* image from https://107.org.au/event/the-angel-number/ */
  background-image: url("images/vol-background.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.donate { grid-area: donate; }
.volunteer { grid-area: volunteer; }


body, html {
  margin: 0px;
  height: 100%;
}

header {
  grid-area: header;
  background: #afbcce;
  position: relative;
}

/* fixed footer base code from w3schools.com/howto/howto_css_fixed_footer.asp */
footer {
  grid-area: footer;
  background-color: #afbcce;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer > h5 {
  margin-left: 20px;
  display: inline;
}

/* ul is specified as we want different margins for the header and footer*/
footer > ul {
  display: inline;
  margin-top: 0px;
  float: right;
}

/* base code for creating a nav bar from https://developer.mozilla.org/en-US/docs/Web/HTML/Element/nav */
.footerimgs {
  padding-left: 0;
  float: right;
  display: block-inline;
  list-style-type: none;
  margin: 10px 10px 0px 10px;
}

.footerimgs > img {
  width: 30px;
  height: 30px;
}

/* fixed header - inspired by the fixed footer */
header {
  background-color: #afbcce;
  left: 0;
  top: 0;
  width: 100%;
  /* the z-index ensures it is on top of other content on the page*/
  z-index: 2;
  padding: 0px;
}

header > img {
  margin: 0px 10px;
}

header > nav {
  display: inline;
  margin: 0px;
  float: right;
}

/* the inline property for nav and ul ensures that the navigation is on the same line as the home image/link */
header > nav > ul {
  display: inline;
  margin-bottom: 0px;
  float: right;
}

/* base code for creating a nav bar from https://developer.mozilla.org/en-US/docs/Web/HTML/Element/nav */
.navigation {
  padding-left: 0;
  float: right;
  display: block-inline;
  list-style-type: none;
  margin: 20px 150px 20px 150px;
}

/* styling for the naivation links */
a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #42b1b6;
  background-color: transparent;
}

a:active {
  color: #55415e;
  background-color: transparent;
}

/*selecting volunteer/donate only from navigation bar */
a:nth-child(2) {
  color: #42b1b6;
}

h2 {
  text-decoration: underline;
  display: inline;
  font-size: 48px;
}

p {
  font-size: 18px;
}

section > p:first-of-type {
  margin-top: 60px;
}

.donate {
  border-right: solid 1px;
}

/* background clip code from https://css-tricks.com/almanac/properties/b/background-clip/ */
.donate, .volunteer {
  padding: 30px;
  height: 100%;
  background-clip: padding-box;
  background-color: #e3e3e3;
  opacity: 0.8;
}

/* hover opacity from https://www.w3schools.com/css/css_image_transparency.asp */
.donate:hover, .volunteer:hover {
  opacity: 0.95;
  transition-duration: 0.6s;
}

/*base button animation with arrow code taken from https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_animate1*/
.button {
  text-align: center;
  background-color: #e3e3e3;
  border: 2px solid #f4d856;
  transition-duration: 0.6s;
  display: inline;
  float: right;
  border-radius: 4px;
  padding: 20px;
  width: 200px;
  font-size: 18px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: ' \00bb';
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 1s;
}

.button:hover {
  background-color: #f4d856;
  color: black;
  cursor: pointer;
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* base pop-up form code taken from https://www.w3schools.com/howto/howto_js_popup_form.asp -->
/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  box-sizing: border-box;
  width: 1000px;
  padding: 10px;
  background-color: white;
  height: 600px;
  overflow: auto;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=tel], .form-container input[type=email] {
  width: 95%;
  padding: 15px;
  margin: 5px 10px 22px 0;
  border: none;
  background: #f1f1f1;
  display: block;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=tel]:focus, .form-container input[type=email]:focus, .form-container input[type=checkbox]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #f4d856;
  color: black;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: #afbcce;
}

/* Add some hover effects to buttons */
.form-container .btn:hover  {
  opacity: 1;
}