// this is the grid container for the main page
// taken from https://grid.layoutit.com/

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.15fr 0.25fr 1fr 0.15fr;
  gap: 0px 0px;
  grid-template-areas:
    "header header header"
    "type type type"
    "main main main"
    "footer footer footer";
}
.header { grid-area: header; }
.footer { grid-area: footer; }
.main { grid-area: main; }
.type { grid-area: type; }