/* margin was stuck at 8px - fix from https://stackoverflow.com/questions/53915966/css-margin-is-not-setting-to-0 */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* this is the grid container for the main page
taken from https://grid.layoutit.com/ */

.home-page-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr 0.1fr;
  gap: 0px 0px;
  grid-template-areas:
    "header"
    "main"
    "footer";
} 

.header { grid-area: header; }

/* creates the differing sections for the main body making it easier to seperate it into the 4 event categories */
.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 500px 1fr;
  gap: 0px 50px;
  grid-template-areas:
    "title title title title"
    "workshop exhibition present screening";
  grid-area: main;
}
.workshop { grid-area: workshop; }
.exhibition { grid-area: exhibition; }
.present { grid-area: present; }
.screening { grid-area: screening; }
.title { grid-area: title; }

.footer { grid-area: footer; }

/*css for title flip card
base code from https://www.w3schools.com/howto/howto_css_flip_card.asp */

.flip-card {
  width: 700px;
  height: 300px;

  /* code from https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/ */
  top: 50%;
  left: 50%;
  margin-right: -50%; 
  transform: translate(-50%, -50%);
  /*Changed position to relative to make card middle of its grid box and not permanently the center of the screen. */
  position: relative;
}

.flip-card-contents {
  border-radius: 10px;
  background-color: #f4d856;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-contents {
  transform: rotateY(180deg);
}

.flip-card-title, .flip-card-info {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
} 

/*vertical align and line height from https://stackoverflow.com/questions/5703552/how-can-i-center-text-horizontally-and-vertically-inside-a-div-block */

.flip-card-title {
  vertical-align: middle;
  line-height: 250px;
}

.flip-card-info{
  transform: rotateY(180deg);
}





/*Card Code - base code from  https://www.w3schools.com/howto/howto_css_cards.asp*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 8px;
  margin: 20px;
}

img {
  border-radius: 5px 5px 0 0;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: scale(1.1);
  transition-property: transform;
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}




/*styling the page*/

body {
  background-color: #e3e3e3;
}

section {
  text-align: center;
  position: relative;
}

header {
  background: #afbcce;
  position: relative;
}

/* fixed footer base code from w3schools.com/howto/howto_css_fixed_footer.asp */
footer {
  background-color: #afbcce;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer > h5 {
  margin-left: 20px;
  display: inline;
}

/* ul is specified as we want different margins for the header and footer*/
footer > ul {
  display: inline;
  margin-top: 0px;
  float: right;
}

/* base code for creating a nav bar from https://developer.mozilla.org/en-US/docs/Web/HTML/Element/nav */
.footerimgs {
  padding-left: 0;
  float: right;
  display: block-inline;
  list-style-type: none;
  margin: 10px 10px 0px 10px;
}

.footerimgs > img {
  width: 30px;
  height: 30px;
}

/* fixed header - inspired by the fixed footer */
header {
  background-color: #afbcce;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  /* the z-index ensures it is on top of other content on the page*/
  z-index: 2;
  padding: 0px;
}

header > img {
  margin: 0px 10px;
}

header > nav {
  display: inline;
  margin: 0px;
  float: right;
}

/* the inline property for nav and ul ensures that the navigation is on the same line as the home image/link */
header > nav > ul {
  display: inline;
  margin-bottom: 0px;
  float: right;
}

/* base code for creating a nav bar from https://developer.mozilla.org/en-US/docs/Web/HTML/Element/nav */
.navigation {
  padding-left: 0;
  float: right;
  display: block-inline;
  list-style-type: none;
  margin: 20px 150px 20px 150px;
}

/* styling for the naivation links */
a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #42b1b6;
  background-color: transparent;
}

a:active {
  color: #55415e;
  background-color: transparent;
}

h3 {
  margin-bottom: 5px;
}